.balance-positive {
    background: rgb(171, 255, 138);
    background: linear-gradient(49deg, rgba(171, 255, 138, 0.9360119047619048) 10%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 20px;

}

.balance-negative {
    background: rgb(251, 114, 114);
    background: linear-gradient(48deg, rgba(251, 114, 114, 0.9360119047619048) 0%, rgba(255, 255, 255, 1) 100%);
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    padding: 20px;
    border-radius: 20px;

}


.ingress {
    color: green;
    background-color: rgba(0, 128, 0, 0.082);
}

.egress {
    color: rgb(192, 0, 0);
    background-color: rgba(255, 0, 0, 0.082);
}

.ingressList {
    background-color: rgba(77, 255, 0, 0.320);
}

.egressList {
    background-color: rgba(255, 0, 0, 0.320);
}

.title__ingress {
    color: rgb(9, 143, 20);
    text-align: right;
    text-decoration: underline;
}

.title__egress {
    color: rgb(186, 6, 6);
    text-decoration: underline;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

main {
    padding-top: 5rem;
}

.td {
    vertical-align: middle;
}

.tr {
    border-bottom: 2px solid rgba(0, 0, 0, 0.338);
}

.btn-del{
    width: 44px;
}

@media(max-width: 575px){
    .td-none{
        display: none;
    }
}
@media(min-width: 576px) and (max-width: 767px){
    .td-none{
        display: none;
    }
}
@media(min-width: 768px) and (max-width: 991px){

}
@media(min-width: 992px){

}